@model JobAdvertisement.DataAccess.Model.JobAd

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1>Create New Job Advertisement:</h1>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <form id="frm">                    
                    <div class="editor-label">
                        <label>Job Title:</label>
                    </div>
                    <div class="editor_field">
                        @Html.TextBoxFor(jobAd => jobAd.JobAdTitle)
                        @Html.ValidationMessageFor(jobAd => jobAd.JobAdTitle)
                    </div>

                    <div class="editor-label">                       
                        <label>Job Content:</label>
                    </div>
                    <div class="editor_field">
                        @Html.TextBoxFor(jobAd => jobAd.JobAdContent)
                        @Html.ValidationMessageFor(jobAd => jobAd.JobAdContent)
                    </div>

                    <div class="editor-label">
                        <label>Name:</label>
                    </div>
                    <div class="editor_field">
                        @Html.TextBoxFor(jobAd => jobAd.ApplicantName)
                        @Html.ValidationMessageFor(jobAd => jobAd.ApplicantName)
                    </div>

                    <div class="editor-label">
                        <label>Surname:</label>
                    </div>
                    <div class="editor_field">
                        @Html.TextBoxFor(jobAd => jobAd.ApplicantSurname)
                        @Html.ValidationMessageFor(jobAd => jobAd.ApplicantSurname)
                    </div>
                    <div class="editor-label">
                        <label>Phone Number:</label>
                    </div>
                    <div class="editor_field">
                        <span class="unit">(+90)</span>
                        @Html.TextBoxFor(jobAd => jobAd.ApplicantPhoneNumber)
                        @Html.ValidationMessageFor(jobAd => jobAd.ApplicantPhoneNumber)
                    </div>
                    <div class="editor-label">
                        <label>E-mail Adress:</label>
                    </div>
                    <div class="editor_field">
                        @Html.TextBoxFor(jobAd => jobAd.ApplicantEmailAdress)
                        @Html.ValidationMessageFor(jobAd => jobAd.ApplicantEmailAdress)
                    </div>
                    <p>
                        <input type="submit" id="create" class="btn bg-success" value="Create"/>                                  
                    </p>                     
                </form>
            }
        </div>
</body>
</html>
